node_modules/

package-lock.json

web/Lib/
web/Include/
web/Scripts/
__pycache__/
*.pyc

/dist/
/build/
/public/
uploads/
input_images/
output_images/

.vscode/

.env

*.log

src/modifyImage.py
generator_final.pth